@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_EmptyLayout";
}
<html>
<head>
    <link rel="stylesheet" href="/css/globals.css"/>
    <link rel="stylesheet" href="/css/styleguide.css"/>
    <link rel="stylesheet" href="/css/registration.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section id="registration-page">
    <form id="registerForm" class="signup-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <!-- FORM HEADER -->
        <div class="form-header">
            <img src="/img/caverologowhite.png"/>
            <h1>Creeër Account</h1>
        </div>
        <!-- FORM BODY -->
        <div class="form-body">
            <!-- First name & Last name -->
            <div class="row">
                <div class="input-group">
                    <label>First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="..."/>
                    <span asp-validation-for="Input.FirstName" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
                <div class="input-group">
                    <label>Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="..."/>
                    <span asp-validation-for="Input.LastName" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-group">
                    <label>Email</label>
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@cavero.nl"/>
                    <span asp-validation-for="Input.Email" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Password </label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
                <div class="input-group">
                    <label>Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password repeat"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: red; margin-top: 3px;"></span>
                </div>
            </div>
            <!--  FORM FOOTER   -->
            <div class="form-footer">
                <button id="registerSubmit" class="btn" type="submit">Create</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>


@* *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*             <h2>Create a new account.</h2> *@
@*             <hr /> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" /> *@
@*                 <label asp-for="Input.Email">Email</label> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.Password">Password</label> *@
@*                 <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.ConfirmPassword">Confirm Password</label> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button> *@
@*         </form> *@
@*     </div> *@
@*     <div class="col-md-6 col-md-offset-2"> *@
@*         <section> *@
@*             <h3>Use another service to register.</h3> *@
@*             <hr /> *@
@*             @{ *@
@*                 if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*                 { *@
@*                     <div> *@
@*                         <p> *@
@*                             There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article *@
@*                             about setting up this ASP.NET application to support logging in via external services</a>. *@
@*                         </p> *@
@*                     </div> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*                         <div> *@
@*                             <p> *@
@*                                 @foreach (var provider in Model.ExternalLogins!) *@
@*                                 { *@
@*                                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                                 } *@
@*                             </p> *@
@*                         </div> *@
@*                     </form> *@
@*                 } *@
@*             } *@
@*         </section> *@
@*     </div> *@
@* </div> *@

@* *@
@* <body> *@
@* <div class="signup-page"> *@
@*     <div class="overlap-wrapper"> *@
@*             <div class="sign-up-block"> *@
@*                 <div class="overlap-group"> *@
@*                     <img class="cavero-logo-full" src="/img/cavero-logo-full.png" alt="Cavero Logo"/> *@
@*                     <p class="text-wrapper">Velden met * zijn verplicht</p> *@
@*                 </div> *@
@*                 <div class="div">Creëer uw account</div> *@
@*                 <p class="p">Heeft u al een account?</p> *@
@*                 <div class="text-wrapper-2">Voornaam*</div> *@
@*                 <div class="text-wrapper-3">Achternaam*</div> *@
@*                 <div class="text-wrapper-4">Email*</div> *@
@*                 <div class="text-wrapper-5">Wachtwoord*</div> *@
@*                 <div class="text-wrapper-6">Wachtwoord herhalen*</div> *@
@* *@
@*                 <div class="col-md-4"> *@
@*                     <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*                         <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@*                         <a class="log-in-hyperlink" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a> *@
@*                          *@
@*                         <div class="first-name-form"> *@
@*                             <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="..."/> *@
@*                             <span asp-validation-for="Input.FirstName" class="text-danger"></span> *@
@*                         </div> *@
@* *@
@*                         <div class="last-name-form"> *@
@*                             <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="..."/> *@
@*                             <span asp-validation-for="Input.LastName" class="text-danger"></span> *@
@*                         </div> *@
@* *@
@*                         <div class="email-form"> *@
@*                             <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@cavero.nl"/> *@
@*                             <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*                         </div> *@
@*                          *@
@*                         <div class="password-form"> *@
@*                             <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/> *@
@*                             <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*                         </div> *@
@*                         <div class="password-repeat-form"> *@
@*                             <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password repeat"/> *@
@*                             <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*                         </div> *@
@*                         <div > *@
@*                             <button id="registerSubmit" type="submit" class="create-account"> *@
@*                                 <div class="text-wrapper-7">Creeër account</div> *@
@*                                 <img class="arrow" src="/img/arrow.png"/> *@
@*                             </button> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             $1$ <div class="block-breakup"> #1# *@
@*             $1$     <div class="overlap-2"> #1# *@
@*             $1$         <div class="ellipse-2"></div> #1# *@
@*             $1$         <div class="ellipse-3"></div> #1# *@
@*             $1$     </div> #1# *@
@*             $1$ </div> #1# *@
@*         </div> *@
@*     </div> *@
@* </body> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
