@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_EmptyLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: white;
            color: purple;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            /* Align content to the top */
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            /* Set font to Arial */
        }

        .cavero-logo-full {
            max-width: 100%;
            height: 80px;
            /* Adjust the height as needed */
            margin-bottom: 20px;
        }

        h1,
        p,
        a {
            text-align: center;
            color: purple;
        }

        p {
            margin-top: auto;
            /* Add this line to center the text vertically */
        }
    </style>
</head>

<body>
    <img class="cavero-logo-full" src="/img/cavero-logo-full.png" alt="Cavero Logo" />
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a
                    href="https://aka.ms/aspaccountconf">these
                    docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm
                    your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</body>

</html>



@* @page
@model RegisterConfirmationModel
@{
ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
if (@Model.DisplayConfirmAccountLink)
{
<p>
This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these
docs</a> for how to configure a real email sender.
Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your
account</a>
</p>
}
else
{
<p>
Please check your email to confirm your account.
</p>
}
}
*@
