@page
@using System.Globalization
@inject CaveroAppContext Context
@model CaveroApp.Pages.Attendance

@{
    ViewData["Title"] = "Aanwezige";
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/attendance.css"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
    </style>
</head>
<body>
<div class="main">
    <div class="week-container">
        @foreach (var evArr in @Model.GetWeekAttendances())
        {
            <div class="day-wrapper">
                <div class="day">

                    <h1>@evArr.Date.ToString("ddd")</h1>
                    @if (@evArr.Date.Date.Equals(DateTime.UtcNow.Date))
                    {
                        <h2 style="color: var(--collection-1-cavero-paars); text-shadow: 1px 1px 1px grey;">@evArr.Date.Day</h2>
                    }
                    else
                    {
                        <h2>@evArr.Date.Day</h2>
                    }
                </div>
               
                <div class="item @(evArr.Date.ToString("ddd", CultureInfo.InvariantCulture))" id="@(evArr.Date.ToString("dddd", CultureInfo.InvariantCulture))">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek naar namen.." title="Type in a name">
                    @foreach (var us in evArr.allUsers.OrderBy(x => x.FirstName))
                    {
                        <div class="attendance-card">
                             @if (!System.IO.File.Exists(@$"wwwroot/img/profilepictures/avatar{@us.Id}.png"))
                            {
                                var user = Context.Users.First(x => x.Id == @us.Id);
                                ProfilePictureGenerator.MakePF(user.FirstName, user.LastName, @us.Id!);
                            }
                             <img src="img/profilepictures/avatar@(us.Id).png"/>
                            <h1>@us.FirstName @us.LastName</h1>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
</body>

<script>

</script>
</html>