@page
@using System.Globalization
@model CaveroApp.Pages.Attendance

@{
    ViewData["Title"] = "Aanwezige";
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
            .glass-card {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                padding: 10px;
                backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
            }
        
            .name-gradient {
                background: linear-gradient(to bottom, white, grey);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    </style>
</head>
<body>
<div class="main">
    <div class="week-container">
        @foreach (var evArr in @Model.GetWeekAttendances())
        {
            <div class="day-wrapper">
                <div class="day">

                    <h1>@evArr.Date.ToString("ddd")</h1>
                    @if (@evArr.Date.Date.Equals(DateTime.UtcNow.Date))
                    {
                        <h2 style="color: var(--collection-1-cavero-paars); text-shadow: 1px 1px 1px grey;">@evArr.Date.Day</h2>
                    }
                    else
                    {
                        <h2>@evArr.Date.Day</h2>
                    }
                </div>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek naar namen.." title="Type in a name">
                <div class="item @(evArr.Date.ToString("ddd", CultureInfo.InvariantCulture))" id="@(evArr.Date.ToString("dddd", CultureInfo.InvariantCulture))">
                    @foreach (var ev in evArr.allUsers.OrderBy(x => x.FirstName))
                    {
                        <li class="list-group-item d-flex align-items-center glass-card">
                            <img src="img/image-5.png" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;">
                            <div class="ml-3">
                                <strong class="name-gradient">John Doe</strong>
                            </div>
                            <span class="ml-2">
                                <i class="fas fa-info-circle"></i>
                            </span>
                        </li>
                    }
                </div>
            </div>
        }
    </div>
</div>
</body>

<script>

</script>
</html>