@page
@using CaveroApp.Areas.Identity.Data
@using System.Security.Claims
@using System.Runtime.InteropServices.JavaScript
@model CaveroApp.Pages.Dashboard
@inject SignInManager<CaveroAppUser> SignInManager
@inject CaveroAppContext Context

@{
    ViewData["Title"] = "Dashboard";
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preload" as="style" href="css/dashboard.css">
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    var today = DateTime.Now.Date;
    var validEvents = Model.GetAllEvents().Where(e => e.date.Date >= today).OrderBy(e => e.date);
    var groupedEvents = validEvents.GroupBy(e => e.date.Date).OrderBy(g => g.Key);
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userAttendance = (from e in Context.Events
        join ea in Context.EventAttendances on e.ID equals ea.event_id
        where ea.user_id.Equals(userId) && e.date.Equals(DateTime.UtcNow.AddDays(1).Date) select e);
}

@section HeaderContent
{
    @if (SignInManager.IsSignedIn(User))
    {
        var userID = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        var username = Context.Users.Where(x => x.Id == userID).Select(y => y.FirstName).First();
        <h1 style="color: white; font-size: 28px; font-weight:  600; font-family: 'Montserrat', sans-serif;">Welkom terug, @username!</h1>
        <img id="bell-icon" src="img/icons8-notification-bell-50.png" alt="Notification Bell Icon" class="notification-bell">

    }
}

<!DOCTYPE html>
<html>
<style>
        img.notification-bell {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 15px;
            right: 20px;
        }
        #NextDayEvent {
            position: absolute;
            right: 20px;
        }
    </style>
<head>
</head>
<body>
<div class="main-body">
    <div class="card one">
        <div class="present-box">
            <p>Aanwezige caverianen vandaag</p>
            <div class="box-info">
                <img src="img/image-8-2.png" alt="Person Icon"/>
                <h1>@Model.EmployeeCount</h1>
            </div>
        </div>
        <div class="present-box">
            <p>Aantal events deze week</p>
            <div class="box-info">
                <img src="img/image-8-3.png" alt="Event Icon"/>
                <h1>@Model.EventCount</h1>
            </div>
        </div>
    </div>
    <div class="card two">
        <!-- Reusing event modal because it fits very well with a check in form.-->
        <div class="event-modal-content" style="max-width: 400px; margin: 10px; animation-name: ''; -webkit-animation-name: '';">
            <div class="event-modal-header">
                <h1 style="justify-content: flex-start">Inchecken</h1>
            </div>
            <div class="event-modal-header">
                <p style="justify-content: flex-start; color: var(--collection-1-cavero-blackish-grey); opacity: 80%; font-weight:  500;">Kies hier met de datepicker een datum om in te checken.</p>
            </div>
            <div class="line"></div>
            <!-- -->
            <form id="checkInForm" asp-page-handler="DateCheckInUser" method="post">
                <div class="event-modal-create">
                    <div class="event-modal-row">
                        <input id="dateCheckIn" placeholder="Kies een datum.." type="text" required
                               oninput="validateCheckInDate()" onblur="validateCheckInDate()" asp-for="CheckModel.Date"/>
                        <span class="error-message" id="dateCheckInError"></span>
                    </div>
                    <div class="event-modal-row">
                        <button id="dateCheckInButton" class="button create-event" type="submit">
                            <p>CHECK IN OP DATUM</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card three">
        @*Gemaakt door Aryan*@
        <div class="dashboard-upcoming-events">
            <h1>Aanstaande evenementen</h1>
            <div class="line"></div>
            @foreach (var group in groupedEvents)
            {
                <p>@group.Key.ToString("dddd, d MMMM")</p>
                @foreach (var ev in group.OrderBy(x => x.start_time))
                {
                    <div class="event-card" style="max-width: 100%; margin: 0 0 7px;">
                        <h1>@ev.title</h1>
                        <p>Locatie: @ev.location</p>
                        <p>Tijd: @ev.start_time.ToString(@"hh\:mm") - @ev.end_time.ToString(@"hh\:mm")</p>
                        <div class="event-card-footer" style="flex-direction: row; align-items: center; margin-top: 10px;">
                            <div class="event-card-attendance" style="margin-right: 15px;">
                                <img src="img/user-check-icon.png" style="height: 25px; width: 25px;"/>
                                <p style="font-size: 22px;">@Model.GetEventParticipantsCount(@ev)</p>
                            </div>
                            <button class="button edit-event">
                                <p>INFO</p>
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div id="NextDayEvent" style="visibility: hidden">
        @* Dit laat event van de volgende dag zien *@
        @foreach (var user in userAttendance)
        {
            <script>
                document.getElementById("bell-icon").src = "img/icons8-notification-50.png"
            </script>
            <div class="event-card custom-event-card">
                <h1>@user.title</h1>
                @* <p>@groupp.Key.ToString("dddd, d MMMM")</p> *@
            </div>
        }
    </div>
</div>
</body>


<script>
document.addEventListener('DOMContentLoaded', function () {
flatpickr("#dateCheckIn", {
       enableTime: false,
       dateFormat: "d-m-Y",
       minDate: "today",
       disable: [
           function (date) {
               // Disable weekends (Saturday and Sunday)
               return (date.getDay() === 0 || date.getDay() === 6);
           }
       ],
   });
const dateCheckButton = document.getElementById('dateCheckInButton');
const form = document.getElementById('checkInForm');

      dateCheckButton.addEventListener('click', function (event) {
              const dateCheckError = document.getElementById('dateCheckInError');
              validateCheckInDate(event);
              if (!form.checkValidity()  || dateCheckError.textContent !== '') {
                  // Prevent form submission if there are validation errors
                  event.preventDefault();
              }
          });
});



function validateCheckInDate(event) {
    const dateCheckInput = document.getElementById('dateCheckIn');
    const dateCheckError = document.getElementById('dateCheckInError');
    if (dateCheckInput.value === ''){
         if (event !== undefined)
            event.preventDefault();
        dateCheckError.textContent = 'U moet eerst een datum invullen.';
        dateCheckError.style.display = 'inline';
    }
    else {
         $.ajax({
                    url: '/Dashboard?handler=CheckDate',
                    data: { 'date': dateCheckInput.value },
                    success: function(isValid) {
                        if (isValid) {
                            dateCheckError.textContent = '';
                            dateCheckError.style.display = 'none';
                        } else {
                            dateCheckError.textContent = 'U bent al ingecheckt op deze dag.';
                            dateCheckError.style.display = 'inline';
                            // The date is not valid, show an error message.
                        }
                    }
                });
    }
}


document.addEventListener('DOMContentLoaded', function () {
            const notificationBell = document.querySelector('.notification-bell');

            notificationBell.addEventListener('click', function () {
                // logic om upcoming events te laten zien
                var eventShow = document.getElementById("NextDayEvent");
                if (eventShow.style.visibility === 'hidden') {
                    eventShow.style.visibility = 'visible';
                  } else {
                    eventShow.style.visibility = 'hidden';
                  }
            });
        });
</script>
</html>