@page
@using System.Globalization
@using Humanizer
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Query
@inject CaveroAppContext Context
@inject Services.EventServices eventService
@model CaveroApp.Pages.Events


@{
    ViewData["Title"] = "Events";
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preload" as="style" href="css/eventheader.css">
    <link rel="stylesheet" href="css/eventheader.css" defer/>  
    <link rel="preload" as="style" href="css/events.css" defer>
    <link rel="preload" as="style" href="css/layout.css">
    <script defer src="js/create-event-validation.js"></script>
    <script defer src="js/create-review-scripts.js"></script>
    <script defer src="js/create-review-validation.js"></script>    
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}

@section HeaderContent
{
    <div class="wrapper">
        <form method="post" asp-page="Events" asp-page-handler="WeekBackward">
            <button class="header-text tooltip" style="font-size: 30px;" type="submit">
                <p><</p>
                <div class="bottom">
                    <p>Vorige week</p>
                    <i></i>
                </div>
            </button>
        </form>
        <form method="post" asp-page="Events" asp-page-handler="WeekForward">
            <button class="header-text tooltip" style="font-size: 30px;" type="submit">
                <p>></p>
                <div class="bottom">
                    <p>Volgende week</p>
                    <i></i>
                </div>
            </button>
        </form>
        <h1 class="header-text" style="text-shadow: 2px 2px 2px var(--collection-1-cavero-blackish-grey);">
            @($"{@Model.Week.Item1.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)} - " +
              $"{@Model.Week.Item2.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)}")
        </h1>
        <button id="createEventButton" class="button create-event" style="margin-left: 15px;">
            <p>CREËER EVENT</p>
        </button>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="main">
    <div class="week-container">
        @foreach (var evArr in @Model.GetWeekEvents())
        {
            <div class="day-wrapper">
                <div class="day">

                    <h1>@evArr.Date.ToString("ddd")</h1>
                    @if (@evArr.Date.Date.Equals(DateTime.UtcNow.Date))
                    {
                        <h2 style="color: var(--collection-1-cavero-paars); text-shadow: 1px 1px 1px grey;">@evArr.Date.Day</h2>
                    }
                    else
                    {
                        <h2>@evArr.Date.Day</h2>
                    }
                </div>
                <div class="item @(evArr.Date.ToString("ddd", CultureInfo.InvariantCulture))" id="@(evArr.Date.ToString("dddd", CultureInfo.InvariantCulture))">
                    @foreach (var ev in evArr.allEvents.OrderBy(x => x.start_time))
                    {
                        <!-- Event Card -->
                        <div class="event-card">
                            <h1>@(ev.title)</h1>
                            <p>Locatie: @(ev.location)</p>
                            <p>Tijd: @ev.start_time.ToString(@"hh\:mm") - @ev.end_time.ToString(@"hh\:mm")</p>
                            <div class="event-card-footer">
                                <div class="event-card-attendance">
                                    <img src="img/user-check-icon.png"/>
                                    <p style="">@Model.GetEventParticipantsCount(ev)</p>
                                </div>
                                <button class="button info" data-card-id="@ev.ID">
                                    <p>INFO</p>
                                </button>
                                @if (!@Model.JoinedEvent(ev.ID))
                                {
                                    <form class="form-button" method="post" asp-page="Events" asp-page-handler="EventSignUp" asp-route-eventID="@ev.ID">
                                        <button class="button sign-up">
                                            <p>AANMELDEN</p>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form class="form-button" method="post" asp-page="Events" asp-page-handler="EventSignOut" asp-route-eventID="@ev.ID">
                                        <button class="button sign-out">
                                            <p>AFMELDEN</p>
                                        </button>
                                    </form>
                                }
                                @if (@Model.AllowedToReview(ev.ID))
                                {
                                    <button class="button review" data-card-id="@ev.ID">
                                        <p>REVIEW</p>
                                    </button>
                                }
                                @*Give admin users more buttons like edit and delete.*@
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="admin-divider"></div>
                                    <button class="button edit" style="justify-content: center;" data-card-id="@ev.ID">
                                        <p>EDIT</p>
                                    </button>
                                    <button class="button delete" style="justify-content: center;" data-card-id="@ev.ID">
                                        <p>DELETE</p>
                                    </button>
                                }
                            </div>
                        </div>
                        <!-- Event Card -->
                        
                        <!-- Modal Content -->
                        <!-- Has to be loaded here so it gets filled up with the unique information for each card. -->
                        <div class="event-modal modal-card-@ev.ID">
                            <div class="event-modal-content">
                                <div class="event-modal-header">
                                    <h1 style="justify-content: flex-start">@ev.title</h1>
                                    <span class="close close-@ev.ID" style="justify-content: flex-start">&times;</span>
                                </div>
                                <div class="line"></div>
                                <div class="event-modal-row">
                                    <h1>Beschrijving</h1>
                                    <p>@ev.description</p>
                                </div>
                                <div>
                                    <div class="event-modal-row">
                                        <h1>Overige Informatie</h1>
                                        <p>
                                            <strong>Locatie</strong>: @ev.location<br/>
                                            <strong>Datum</strong>: @ev.date.Date.ToString("dd/MM/yyyy")<br/>
                                            <strong>Tijd</strong>: @ev.start_time.ToString(@"hh\:mm") - @ev.end_time.ToString(@"hh\:mm")<br/>
                                        </p>
                                    </div>
                                    <div class="event-modal-row">
                                        @{ var eventParticipants = @eventService.GetEventParticipants(Context, ev); }
                                        <h1>Deelnemers (@eventParticipants.Count())</h1>
                                        @if (@eventParticipants.Count() != 0)
                                        {
                                            <ul class="event-modal-attendance">
                                                @foreach (var us in @eventParticipants)
                                                {
                                                    @if (!System.IO.File.Exists(@$"wwwroot/img/profilepictures/avatar{@us.Id}.png"))
                                                    {
                                                        var user = Context.Users.First(x => x.Id == @us.Id);
                                                        ProfilePictureGenerator.MakePF(user.FirstName, user.LastName, @us.Id!);
                                                    }
                                                    <li>
                                                        <img src="img/profilepictures/avatar@(us.Id).png"/>
                                                        <p>@us.FirstName @us.LastName</p>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                    <div class="event-modal-row">
                                        @{ var Reviews = eventService.GetEventReviews(Context, ev); }
                                        @if (Reviews.Count() != 0)
                                        {
                                            <h1>Gem. Reviewscore: (@Reviews.Select(x => x.Review.rating).Average().ToString("#.##")/5) </h1>
                                        }
                                    </div>
                                    <div class="event-modal-row">
                                        @{ var reviews = eventService.GetEventReviews(Context, ev); }
                                        <h1>Reviews (@reviews.Count())</h1>
                                        @if (reviews.Count() != 0)
                                        {
                                            <div class="event-reviews">
                                                 @foreach (var us in reviews)
                                                    {
                                                        @if (!System.IO.File.Exists(@$"wwwroot/img/profilepictures/avatar{@us.User.Id}.png"))
                                                        {
                                                            var user = Context.Users.First(x => x.Id == @us.User.Id);
                                                            ProfilePictureGenerator.MakePF(user.FirstName, user.LastName, @us.User.Id!);
                                                        }
                                                        <div class="event-review-content">
                                                            <div class="event-review-header">
                                                                <img src="img/profilepictures/avatar@(@us.User.Id).png"/>
                                                                <h1>@us.User.FirstName @us.User.LastName</h1>
                                                                @{ var reviewRating = us.Review.rating;}
                                                                    @for (int i = 0; i < 5; i++)
                                                                    {
                                                                        if (reviewRating > 0)
                                                                        { 
                                                                            <span class="fa fa-star checked"></span>
                                                                            reviewRating--;
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="fa fa-star unchecked"></span>
                                                                        }
                                                                    }
                                                               
                                                            </div>
                                                            
                                                            <div class="line"></div>
                                                            <div class="event-review-row">
                                                                <p style="font-weight: 500;">@us.Review.feedback</p>
                                                            </div>
                                                        </div>
                                                    }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="review-Modal-@ev.ID" class="review-modal">
                            <div class="review-modal-content">
                                <div class="review-modal-header">
                                    <h1 style="justify-content: flex-start">Review @ev.title</h1>
                                    <span id="closeReview-@ev.ID" class="close" style="justify-content: flex-start">&times;</span>
                                </div>
                                <div class="line"></div>
                                <form id="createReviewForm-@ev.ID" asp-page-handler="SaveReview" method="post">
                                    <input type="hidden" asp-for="eventModel.Date" value="@ev.date.Date.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)" />
                                    <input type="hidden" asp-for="eventModel.StartTime" value="@ev.start_time.ToString(@"hh\:mm")" />
                                    <input type="hidden" asp-for="eventModel.EndTime" value="@ev.end_time.ToString(@"hh\:mm")" />
                                    <input type="hidden" asp-for="eventModel.Location" value="@ev.location" />
                                    <input type="hidden" asp-for="eventModel.Description" value="@ev.description" />
                                    <input type="hidden" asp-for="eventModel.Title" value="@ev.title" />
                                    <input type="hidden" asp-for="reviewModel.event_id" value="@ev.ID" />
                                    <div class="review-modal-create">
                                        <div class="review-modal-row">
                                            <h1>Sterren(1-5)</h1>
                                            <input id="rating" asp-for="reviewModel.rating" placeholder="Kies een aantal sterren.." type="number"
                                                   oninput="validateCreateReviewForm()" onblur="validateCreateReviewForm()"/>
                                            <span class="error-message" id="error"></span>
                                        </div>
                                        <div class="review-modal-row">
                                            <h1>Beschrijving (max 500 karakters)</h1>
                                            <input id="feedback" asp-for="reviewModel.feedback" rows="6" cols="50" placeholder="..." type="text"
                                                   oninput="validateCreateReviewForm()" onblur="validateCreateReviewForm()"></input>
                                            <span class="error-message" id="error" ></span>
                                        </div>
                                        <div class="review-modal-row">
                                            <button id="createReviewButtonModal" class="button create-event" type="submit">
                                                <p>CREËER REVIEW</p>
                                                </button>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>              
                        <!--  Review Modal -->
                        
                        <!-- Admin Delete Event Modal -->
                        <div class="event-modal modal-card-delete-@ev.ID">
                            <div class="event-modal-content">
                                <div class="event-modal-header">
                                    <h1 style="justify-content: flex-start; color: #bb2d3b">Delete @ev.title</h1>
                                    <span class="close close-delete-@ev.ID" style="justify-content: flex-start">&times;</span>
                                </div>
                                <p style="padding: 10px;">Weet u zeker dat u @ev.title wilt verwijderen?</p>
                                <div class="line"></div>
                                <div class="event-modal-row">
                                    <form class="form-button" method="post" asp-page="Events" asp-page-handler="DeleteEvent" asp-route-eventID="@ev.ID">
                                        <button class="button delete" style="color: #bb2d3b">
                                            <p style="color: white;">DELETE</p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Admin Delete Event Modal -->

                        <!-- Admin Edit Event Modal -->
                        <div class="event-modal modal-card-edit-@ev.ID">
                            <div class="event-modal-content" style="max-width: 500px;">
                                <div class="event-modal-header">
                                    <h1 style="justify-content: flex-start">Aanpassen event: @ev.title</h1>
                                    <span class="close close-edit-@ev.ID" style="justify-content: flex-start">&times;</span>
                                </div>
                                <div class="line"></div>
                                <!--Give all information as variables to the post method. -->
                                <form id="editEventForm-@ev.ID" asp-page-handler="EditEvent" method="post" asp-route-eventID="@ev.ID">
                                    <div class="event-modal-create">
                                        <div class="event-modal-row">
                                            <h1>Titel (max 20 karakters)</h1>
                                            <input id="eventTitleEdit-@ev.ID" value="@ev.title" required asp-for="eventModel.Title"
                                                   pattern=".{1,20}" oninput="validateTitle('Edit-@ev.ID')" onblur="validateTitle('Edit-@ev.ID')"/>
                                            <span class="error-message" id="titleErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <h1>Beschrijving (max 250 karakters)</h1>
                                            @* Do not use ASP-FOR here, because it will omit the default value. Instead use a name attribute.
                                                The event edit post method can then call this attribute to get the changed value.*@
                                            <textarea id="eventDescriptionEdit-@ev.ID" rows="6" cols="50" required  name="Description"
                                                oninput="validateDesc(undefined, 'Edit-@ev.ID')" onblur="validateDesc(undefined, 'Edit-@ev.ID')">@ev.description</textarea>
                                            <span class="error-message" id="descErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <h1>Locatie (max 20 karakters)</h1>
                                            <input id="eventLocationEdit-@ev.ID" value="@ev.location" required asp-for="eventModel.Location"
                                                   pattern=".{1,20}" oninput="validateLoc('Edit-@ev.ID')" onblur="validateLoc('Edit-@ev.ID')"/>
                                            <span class="error-message" id="locErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <h1>Datum</h1>
                                            <input id="eventDateEdit-@ev.ID" value="@ev.date.Date.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)" type="text" required
                                                   asp-for="eventModel.Date" oninput="validateDate(undefined, 'Edit-@ev.ID')" onblur="validateDate(undefined, 'Edit-@ev.ID')"/>
                                            <span class="error-message" id="dateErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <h1>Starttijd</h1>
                                            <input id="eventStartTimeEdit-@ev.ID" value="@ev.start_time.ToString(@"hh\:mm")" class="timepicker" type="text" required
                                                   asp-for="eventModel.StartTime" oninput="validateStartTime(undefined, 'Edit-@ev.ID')" onblur="validateStartTime(undefined, 'Edit-@ev.ID')"/>
                                            <span class="error-message" id="startTimeErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <h1>Eindtijd</h1>
                                            <input id="eventEndTimeEdit-@ev.ID" value="@ev.end_time.ToString(@"hh\:mm")" class="timepicker" type="text" required
                                                   asp-for="eventModel.EndTime" oninput="validateEndTime(undefined, 'Edit-@ev.ID')" onblur="validateEndTime(undefined, 'Edit-@ev.ID')"/>
                                            <span class="error-message" id="endTimeErrorEdit-@ev.ID"></span>
                                        </div>
                                        <div class="event-modal-row">
                                            <button id="editEventButtonModal" class="button edit-event" type="submit" event-id-data="@ev.ID">
                                                <p>EDIT EVENT</p>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Admin Edit Event Modal -->
                    }
                </div>
            </div>
        }
    </div>
    <!-- Event Create Modal -->
    <div id="createEventModal" class="event-modal">
        <div class="event-modal-content">
            <div class="event-modal-header">
                <h1 style="justify-content: flex-start">Creeër een evenement</h1>
                <span id="closeEvent" class="close" style="justify-content: flex-start">&times;</span>
            </div>
            <div class="line"></div>
            <!-- -->
            <form id="createEventForm" asp-page-handler="CreateEvent" method="post">
                <div class="event-modal-create">
                    <div class="event-modal-row">
                                           <h1>Titel (max 20 karakters)</h1>
                                           <input id="eventTitle" placeholder="..." asp-for="eventModel.Title" required
                                                  pattern=".{1,20}" oninput="validateTitle('')" onblur="validateTitle('')"/>
                                           <span class="error-message" id="titleError"></span>
                                       </div>
                                       <div class="event-modal-row">
                                           <h1>Beschrijving (max 250 karakters)</h1>
                                           <textarea id="eventDescription" rows="6" cols="50" placeholder="..."  asp-for="eventModel.Description" required 
                                              oninput="validateDesc(undefined, '')" onblur="validateDesc(undefined, '')"></textarea>
                                           <span class="error-message" id="descError"></span>
                                       </div>
                                       <div class="event-modal-row">
                                           <h1>Locatie (max 20 karakters)</h1>
                                           <input id="eventLocation" placeholder="..." asp-for="eventModel.Location" required
                                                  pattern=".{1,20}" oninput="validateLoc('')" onblur="validateLoc('')"/>
                                           <span class="error-message" id="locError"></span>
                                       </div>
                                       <div class="event-modal-row">
                                           <h1>Datum</h1>
                                           <input id="eventDate" placeholder="Kies een datum.." type="text" asp-for="eventModel.Date" required
                                                  oninput="validateDate(undefined, '')" onblur="validateDate(undefined, '')"/>
                                           <span class="error-message" id="dateError"></span>
                                       </div>
                                       <div class="event-modal-row">
                                           <h1>Starttijd</h1>
                                           <input id="eventStartTime" placeholder="Kies een starttijd.." class="timepicker" type="text" asp-for="eventModel.StartTime" required
                                                  oninput="validateStartTime(undefined, '')" onblur="validateStartTime(undefined, '')"/>
                                           <span class="error-message" id="startTimeError"></span>
                                       </div>
                                       <div class="event-modal-row">
                                           <h1>Eindtijd</h1>
                                           <input id="eventEndTime" placeholder="Kies een eindtijd.." class="timepicker" type="text" asp-for="eventModel.EndTime" required
                                                  oninput="validateEndTime(undefined, '')" onblur="validateEndTime(undefined, '')"/>
                                           <span class="error-message" id="endTimeError"></span>
                                       </div>
                    <div class="event-modal-row">
                        <button id="createEventButtonModal" class="button create-event" type="submit">
                            <p>CREËER EVENT</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Event Create Modal -->
</div>

</body>
<script src="js/event-dashboard-scripts.js"></script>
<script>
    let reviewButtons = document.querySelectorAll(".button.review");
    reviewButtons.forEach(function (button) {
       button.addEventListener("click", function () {
           let cardId = button.getAttribute("data-card-id");
           let reviewModal = document.getElementById('review-Modal-' + cardId);
           let createReviewForm = document.getElementById('createReviewForm-' + cardId);
           let span = document.getElementById('closeReview-' + cardId);
           
            span.onclick = function() {
                reviewModal.style.display = "none";
            }
           
           // When the user clicks anywhere outside of the modal, close it
           window.onclick = function(event) {
               if (event.target == modal) {
                   reviewModal.style.display = "none";
               }
           }
           
            createReviewForm.addEventListener('submit', function (event) {
               event.preventDefault();
   
               // Existing logic to display the modal
               reviewModal.style.display = 'none';
               createReviewForm.submit();
           });
          
             // Open the modal.
            reviewModal.style.display = "flex";
       })
    });
</script>
</html>