@page
@using System.Globalization
@using Humanizer
@model CaveroApp.Pages.Events

@{
    Layout = "Shared/CaveroLayoutResponsive";
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preload" as="style" href="css/eventheader.css">
    <link rel="stylesheet" href="css/eventheader.css"/>
    <link rel="stylesheet" href="css/events.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
}

@section HeaderContent
{
    <div class="wrapper">
        <form method="post" asp-page="Events" asp-page-handler="WeekBackward">
            <button class="header-text tooltip" style="font-size: 30px;" type="submit">
                <p><</p>
                <div class="bottom">
                    <p>Vorige week</p>
                    <i></i>
                </div>
            </button>
        </form>
        <form method="post" asp-page="Events" asp-page-handler="WeekForward">
            <button class="header-text tooltip" style="font-size: 30px;" type="submit">
                <p>></p>
                <div class="bottom">
                    <p>Volgende week</p>
                    <i></i>
                </div>
            </button>
        </form>
        <h1 class="header-text" style="text-shadow: 2px 2px 2px var(--collection-1-cavero-blackish-grey);">
            @($"{@Model.Week.Item1.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)} - " +
              $"{@Model.Week.Item2.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)}")
        </h1>
        <button class="button sign-up" style="margin-left: 15px;">
            <p>CREËER EVENT</p>
        </button>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="main">
    <div class="week-container">
        @foreach (var evArr in @Model.GetWeekEvents())
        {
            <div class="day-wrapper">
                <div class="day">
                    <h1>@evArr.Date.ToString("ddd")</h1>
                    <h2>@evArr.Date.Day</h2>
                </div>
                <div class="item @(evArr.Date.ToString("ddd", CultureInfo.InvariantCulture))" id="@(evArr.Date.ToString("dddd", CultureInfo.InvariantCulture))">
                    @foreach (var ev in evArr.allEvents)
                    {
                        <div class="event-card" style="background: linear-gradient(@(Model.GetRandGradient())deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);">
                            <h1>@(ev.title)</h1>
                            <p>Tijd: @(ev.time.ToString(@"hh\:mm"))</p>
                            <p>Locatie: @(ev.location)</p>
                            <div class="event-card-footer">
                                <div class="event-card-attendance">
                                    <img src="img/user-check-icon.png"/>
                                    <p style="">@Model.GetEventParticipants(ev)</p>
                                </div>
                                <form class="form-button">
                                    <button class="button info">
                                        <p>INFO</p>
                                    </button>
                                </form>
                                @if (!@Model.JoinedEvent(ev.ID))
                                {
                                    <form class="form-button" method="post" asp-page="Events" asp-page-handler="EventSignUp" asp-route-eventID="@ev.ID">
                                        <button class="button sign-up">
                                            <p>AANMELDEN</p>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form class="form-button" method="post" asp-page="Events" asp-page-handler="EventSignOut" asp-route-eventID="@ev.ID">
                                        <button class="button sign-out">
                                            <p>AFMELDEN</p>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @*     <div class="day-wrapper"> *@
        @*         <div class="day"> *@
        @*             <h1>Mon</h1> *@
        @*             <h2>24</h2> *@
        @*         </div> *@
        @*         <div class="item mon" id="monday"> *@
        @*             <div class="event-card"> *@
        @*                 <h1>Kookavond in de Loods</h1> *@
        @*                 <p>16:00 - 18:00</p> *@
        @*                 <p>Extern</p> *@
        @*                 <div class="event-card-footer"> *@
        @*                     <div style="display: inline-flex; align-items: center;"> *@
        @*                         <img src="img/user-check-icon.png"/> *@
        @*                         <p style="margin-left: 10px;">5</p> *@
        @*                     </div> *@
        @*                     <button class="button info"> *@
        @*                         <p>INFO</p></button> *@
        @*                     <button class="button sign-up"> *@
        @*                         <p>AANMELDEN</p></button> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="day-wrapper"> *@
        @*         <div class="day"> *@
        @*             <h1>Tue</h1> *@
        @*             <h2>25</h2> *@
        @*         </div> *@
        @*         <div class="item tue"> *@
        @* *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="day-wrapper"> *@
        @*         <div class="day"> *@
        @*             <h1>Wed</h1> *@
        @*             <h2>26</h2> *@
        @*         </div> *@
        @*         <div class="item wed"> *@
        @* *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="day-wrapper"> *@
        @*         <div class="day"> *@
        @*             <h1>Thu</h1> *@
        @*             <h2>27</h2> *@
        @*         </div> *@
        @*         <div class="item thu"> *@
        @* *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="day-wrapper"> *@
        @*         <div class="day"> *@
        @*             <h1>Fri</h1> *@
        @*             <h2>28</h2> *@
        @*         </div> *@
        @*         <div class="item fri"> *@
        @* *@
        @*         </div> *@
        @* </div> *@
    </div>
</div>
</body>
</html>